# The deployed contract address you would like to interact with
CONTRACT_ADDRESS="0x0"
# The RPC URL for the network you would like to interact with
RPC_URL="http://localhost:8547"
# The directory where your stylus contract ABIs are located
CONTRACT_DIRECTORY="/path/to/stylus/contract/"
ANTHROPIC_API_KEY_RS="ANTHROPIC_API_KEY"
PRIVATE_KEY="0x"